.venv/
.vscode/
extracted_pdf_texts/
papers/
papers_for_rag/
pdf_vector_store/index.faiss
pickled_rag_objects/embeddings*.pkl
relation_mining_output/
share_papers/
.env
relation-miner.py
tester.py
CEOS.xlsx
summary_embeddings.pkl
summary_masks.pkl